<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>BackboneJS - Blog Roll</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
  <link rel="stylesheet" href="css/index.css">
</head>

<body>
  <div class="container">
    <h1>BackboneJS - Blog Roll</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Author</th>
          <th>Title</th>
          <th>URL</th>
          <th>Action</th>
        </tr>
        <tr>
          <td><input type="text" class="form-control author-input"></td>
          <td><input type="text" class="form-control title-input"></td>
          <td><input type="text" class="form-control url-input"></td>
          <td><button class="btn btn-primary add-blog">Add</button></td>
        </tr>
      </thead>
      <tbody class="blogs-list"></tbody>
    </table>
  </div>

  <script type="text/template" class="blogs-list-template">
    <td><span class="author"><%= author %></span></td>
    <td><span class="title"><%= title %></span></td>
    <td><span class="url"><%= url %></span></td>
    <td>
      <button class="btn btn-warning edit-blog" style="width: 100px;"><i class="fas fa-edit"></i> Edit</button> 
      <button class="btn btn-danger delete-blog" style="width: 100px;"><i class="fas fa-trash-alt"></i> Delete</button>
      <button class="btn btn-success update-blog" style="display: none; width: 100px;"><i class="fas fa-pen"></i> Update</button> 
      <button class="btn btn-danger cancel" style="display: none; width: 100px;"><i class="fas fa-window-close"></i> Cancel</button>
    </td>
  </script>

  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/backbone/backbone.js"></script>
  <script src="js/index.js"></script>
</body>

</html>